<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="template">

<link rel="stylesheet" type="text/css"
href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Create Formateur externe</title>
</head>
<body>
<div layout:fragment="Mycontent">
<div class="container">
<div class="card-body">
<form action="saveFormateurex" method="post"> 
<div class="form-group">
<label class="control-label">ncin : </label>
<input type="text" name="ncin" class="form-control"/>
</div>
<div class="form-group">
<label class="control-label">email : </label>
<input type="text" name="email" class="form-control"/>
</div>
<div class="form-group">
<label class="control-label">nom : </label>
<input type="text" name="nom" class="form-control"/>
</div>
<div class="form-group">
<label class="control-label">prenom : </label>
<input type="text" name="prenom" class="form-control"/>
</div>
<div class="form-group">
<label class="control-label">specialite : </label>
<input type="text" name="specialite" class="form-control"/>
</div>
<div>
<button type="submit"  class="btn btn-primary">Ajouter</button>
</div>
</form>
</div>
<div th:if="${msg}">
<p th:text="'Message: '+${msg}"/>
</div>
<br/>
<br/>
<a href="ListeFormateurex">Liste Formateur externe</a>
</div>
</div>
</body>
</html>