<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="template">
 
<link rel="stylesheet" type="text/css"
href="/webjars/bootstrap/4.6.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Liste des Demandes</title>
</head>
  <body>
    <div layout:fragment="Mycontent">
    <div class="container">
    <div class="card">
     <div class="card-header">
     Liste des demandes
     </div>
     <div class="card-body"> 

     <table class="table table-striped">
     <tr>
     <th>ID</th>
     <th>titre Formation</th>
       <th>email de l'utlisateur </th>
        <th>date Demande</th>
        <th>accepter </th>
        <th>refuser </th>
     </tr> 
     <tr th:each="p:${demandes.content}" th:if="${p.accepted}==false">
     <td th:text="${p.idDemande}"></td>
     <td th:text="${p.formation.titreFormation}"></td>
     <td th:text="${p.user.username}"></td>
     <td th:text="${p.dateDemande}"></td> 
     <td><a   class="btn btn-outline-success" onclick="return confirm('etes vous sure d accepter cette demande?')" th:href="@{accepterDemande(id=${p.idDemande})}" >
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
      </svg> accepter</a></td>
      <td><a   class="btn btn-outline-danger" onclick="return confirm('etes vous sure de refuser cette demande?')" th:href="@{refuserDemande(id=${p.idDemande})}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg> refuser</a></td>
     </tr>
      
    </table>
    <!-- Modal -->
    
    
     <ul class="nav nav-pills">
     <li th:each="page,status:${pages}">
     <a th:class="${status.index==currentPage?'btn btn-primary':'btn' 
    }" 

     th:href="@{listeDemandes(id=${id},page=${status.index}, size=${size})}" 
     th:text="${status.index }"></a>
     </li>
     </ul>
     
     </div>
    </div>
    </div>
    </div>
    </body>


</html>