<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="template">
 
<link rel="stylesheet" type="text/css"
href="/webjars/bootstrap/4.6.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Liste des Formations</title>
</head>
<body>
<div layout:fragment="Mycontent">
<div class="container">
<div class="card">
 <div class="card-header">
 Liste des Formations 
 </div>
 <div class="card-body"> 
 <form th:action="@{ListeFormations(page=${currentPage},size=${size},nom=${nom} )}" method="get">

 <div class="input-group mb-3 col-md-6">
 <input class="form-control" list="datalistOptions" id="exampleDataList" th:value="${nom}" name="nom" placeholder="Type to search...">
<datalist id="datalistOptions" >

<option th:each="pr:${scFormations}" th:value="${pr.titreFormation}">

</datalist>
 <button class="btn btn-outline-secondary" type="submit" id="button-addon2">filtrer</button>
 
  </div>
 </form>
 <table class="table table-striped">
 <tr>
 <th>ID</th><th>titre Formation</th><th>date debut</th><th>action</th>
 </tr> 
 <tr th:each="p:${Formations.content}">
 <td th:text="${p.idFormation}"></td>
 <td th:text="${p.titreFormation}"></td>
 <td th:text="${p.dateDebut}"></td> 
 <td  ><a  class="btn btn-outline-danger" onclick="return confirm('Etes vous sûr ?')"
 th:href="@{supprimerFormation(id=${p.idFormation},page=${currentPage},size=${size})}">Supprimer</a>
<a  class="btn btn-outline-warning" 
 th:href="@{modifierFormation?(id=${p.idFormation}, etat='update',
page=${currentPage},size=${size})}">modifier</a>
<a  class="btn btn-outline-warning" 
data-toggle="modal" th:data-target="'#exampleModal'+${p.idFormation}">details</a>
<div class="modal fade" th:id="'exampleModal'+${p.idFormation}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card" >
          <div class="card-body">
            <h5 class="card-title" th:text="${p.titreFormation}"></h5>
            <h6 class="card-subtitle mb-2 text-muted" th:text="'de'+${p.dateDebut}+'jusqu a'+${p.dateFin}"></h6>
            <p class="card-text" th:text="${p.description}"></p>
           prix: <p class="card-text" th:text="${p.prix}"></p>
           nbr place: <p  class="card-text" th:text="${p.nbrPlace}"></p>
           etat <p th:if="${p.etat}==false" class="card-text" >overte</p>
            <p th:if="${p.etat}==true" class="card-text" >fermer</p>
            responsable
            <p class="card-text" th:text="${p.responsable.username}"></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary" data-dismiss="modal">ok</button>
      </div>
    </div>
  </div>
</div>

</td> 
 
 </tr>
  
</table>
<!-- Modal -->


 <ul class="nav nav-pills">
 <li th:each="page,status:${pages}">
 <a th:class="${status.index==currentPage?'btn btn-primary':'btn' 
}" 
 th:href="@{ ListeFormations(page=${status.index}, size=${size},nom=${nom} ) }"
 th:text="${status.index }"></a>
 </li>
 </ul>
 
 </div>
</div>
</div>
</div>
</body>
</html>